---
layout: page
title: Dev
description: ""
header-img: "img/home-bg.jpg"
sidebar: false
space-header: true
---

{% for post in site.posts %}
{% unless post.hidden %}
<form class="post-preview-form" action="{{ post.url | prepend: site.baseurl }}" method="get">
    <button class="post-preview" type="submit" aria-label="{{ post.title | escape }}">
    <span class="post-title">
        {{ post.title }}
    </span>
    {% if post.subtitle %}
    <span class="post-subtitle">
        {{ post.subtitle }}
    </span>
    {% endif %}
    <span class="post-content-preview">
        {{ post.content | strip_html | truncate:200 }}
    </span>
    <span class="post-meta">
        {{ post.date | date: "%B %-d, %Y" }}
    </span>
    </button>
</form>
<hr>
{% endunless %}
{% endfor %}
