---
layout: page
---

{% assign visible_count = 0 %}
{% for post in site.tags[page.tag] %}
{% unless post.hidden %}
{% assign visible_count = visible_count | plus: 1 %}
{% endunless %}
{% endfor %}

{% if visible_count == 0 %}
  <p>No posts found.</p>
{% endif %}

<p>{{ page.tag }}({{ visible_count }})<p>

{% for post in site.tags[page.tag] %}
{% unless post.hidden %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
            {{ post.content | strip_html | truncate:200 }}
        </div>
    </a>
    <p class="post-meta">
        {{ post.date | date: "%B %-d, %Y" }}
    </p>
</div>
<hr>
{% endunless %}
{% endfor %}

<a href="#" class="jcm-top"></a>
